@import url(//fonts.googleapis.com/css?family=Bebas+Neue);
#welcome-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 2rem;
}

#modal-modal-title {
  font-family: "Bebas Neue";
  font-size: 60px;
}

#modal-modal-description {
  font-family: "Bebas Neue";
  font-size: 20px;
}
