@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@import url(//fonts.googleapis.com/css?family=Bebas+Neue);
@import url(//fonts.googleapis.com/css?family=Roboto);

#help-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  outline: none;
}

#help-modal__title {
  font-family: "Bebas Neue";
  font-size: 45px;
  line-height: 40px;
  margin-bottom: 1rem;
}

#help-modal__description {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 22px;
  border-radius: 10px;
  padding: 0.5rem 0;
}

#help-modal__close-button {
  justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 1rem;
}

.help-modal-box {
  display: flex;
  flex-direction: column;
  position: relative;
  width: fit-content;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(255, 238, 238, 0.481);
  border-radius: 10px;
}

.help-modal-text {
  padding: 0.5rem 2rem 1rem 2rem;
}

.help-modal-img-block {
  display: flex;
  justify-content: space-around;
}

.help-modal-image {
  width: 550px;
  height: 220px;
  margin: 1rem;
  box-shadow: 0 0 5px rgba(255, 238, 238, 0.481);
  &--small {
    width: 330px;
  }
}
