@use "./variables" as *;
@use "./fonts" as *;
@use "./colors" as *;

// Breakpoint Mixins
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// Type Kit Mixins

@mixin pageheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  @include tablet {
    font-size: 2.0625rem;
    line-height: 2.75rem;
  }
}

@mixin sectionheader {
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 700;
  @include tablet {
    font-size: 15px;
    line-height: 0.75rem;
  }
}

@mixin subheader {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 700;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin bodycopy {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin labelbutton {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: $mercury;
  @include tablet {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
