.list {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  &__track {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-title {
      width: 10rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &-artists {
      width: 7rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-year {
      width: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-time {
      width: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-button {
      margin-left: 1rem;
      color: black;
      font-size: 6px;
      width: 3rem;
    }
  }
}
