@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.list {
  font-size: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include desktop {
    margin: 0 2rem;
  }

  &__track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include desktop {
      flex-direction: row;
    }

    &-title {
      text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #dd44ff, 0 0 0.25em #dd44ff,
        0 0 0.1em #dd44ff, 0 3px 1.5px #000;
      @include desktop {
        width: 16rem;
      }
    }

    &-artists {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include desktop {
        width: 12rem;
      }
    }
    &-year {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include desktop {
        width: 4rem;
      }
    }
    &-time {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include desktop {
        width: 4rem;
      }
    }
    &-button {
      border: none;
      background: none;
      cursor: pointer;
      width: 24px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      &--add {
        background-image: url("../../assets/add.png");
      }
      &--remove {
        background-image: url("../../assets/remove.png");
      }
    }
  }
}
