@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
  margin: 6% 10% 3% 10%;
  display: flex;
  flex-grow: 1;
  background-color: rgb(1, 1, 1, 0.7);
  flex-direction: column;
  justify-content: center;
  align-content: center;

  @include desktop {
    margin: 0;
  }

  &__selects {
    display: flex;
    justify-content: center;
  }
  &__select {
    background: none;
    border: none;
    &-list {
      padding-right: 1rem;
      border-right: 2px solid #fee;
    }
    &-grid {
      padding-left: 1rem;
    }
  }
}
