@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
  padding: 5rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;

  &__selects {
    display: flex;
    justify-content: center;
  }
  &__select {
    background: none;
    border: none;
    &-list {
      padding-right: 1rem;
      border-right: 2px solid #fee;
    }
    &-grid {
      padding-left: 1rem;
    }
  }
}
