@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
  margin-top: 9.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* height: fit-content; */

  @include desktop {
    margin: 0;
    padding: 3% 10% 3% 10%;
    background-color: rgba(18, 8, 19, 0.73);
    border-radius: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__selects {
    display: flex;

    @include desktop {
      justify-content: center;
      margin-bottom: 0.5rem;
    }
  }

  &__select {
    background: none;
    border: none;
    font-size: 18px;

    @include desktop {
      font-size: 24px;
    }

    &--selected {
      text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em $karaoke-blue,
        0 0 0.25em $karaoke-blue, 0 0 0.1em $karaoke-blue, 0 3px 1.5px #000;
    }

    &-list {
      padding-right: 1rem;
      border-right: 2px solid $karaoke-text;
    }

    &-grid {
      padding-left: 1rem;
    }
  }
}
