@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@import url(//fonts.googleapis.com/css?family=Bebas+Neue);
@import url(//fonts.googleapis.com/css?family=Oswald);

#album-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  outline: none;
}

#album-modal__title {
  font-family: "Bebas Neue";
  font-size: 30px;
  line-height: 25px;
  margin-top: 1rem;
  margin-right: 1rem;
  @include tablet {
    font-size: 40px;
    line-height: 40px;
  }
  @include desktop {
    font-size: 60px;
    margin-right: 0;
    line-height: 50px;
  }
}
#album-modal__artist {
  font-family: "Bebas Neue";
  font-size: 17px;
  line-height: 15px;
  margin-bottom: 1rem;
  @include tablet {
    font-size: 20px;
    line-height: 30px;
  }
  @include desktop {
    font-size: 30px;
    line-height: 40px;
  }
}

#album-modal__close-button {
  justify-content: flex-end;
  padding-top: 1rem;
  padding-right: 1rem;
}

.album-modal {
  &__box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: fit-content;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(255, 238, 238, 0.481);
    border-radius: 10px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @include desktop {
      display: block;
    }
  }

  &__image {
    &--mobile {
      height: 70px;
      margin-right: 1rem;
      display: block;
      @include tablet {
        height: 100px;
      }
      @include desktop {
        display: none;
      }
    }
    &--desktop {
      height: 200px;
      display: none;
      @include desktop {
        display: block;
      }
    }
  }

  &__album-info {
    display: flex;
    margin: 0 0.5rem 0.5rem 1rem;
    align-items: flex-start;
    @include tablet {
      margin: 0 1rem 1rem 2rem;
    }
    @include desktop {
      margin: 0 1rem 2rem 2rem;
    }
  }

  &__text {
    @include desktop {
      padding: 0 0 1rem 2rem;
    }
  }

  &__other-track-info {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
    @include desktop {
      margin-top: 0;
    }
  }

  &__track-list {
    padding: 1rem;
    font-size: 18px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    @include tablet {
      font-size: 22px;
    }
  }

  &__track {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    border-radius: 4px;
    margin-bottom: 0.5rem;

    @include desktop {
      justify-content: space-between;
      margin-bottom: 0.25rem;
      border-radius: 0;
      background-color: transparent;
      padding: 0;
      flex-direction: row;
    }

    &-title {
      padding-right: 0.5rem;
      text-shadow: 0 -4px 100px, 0 0 1px, 0 0 1em #dd44ff, 0 0 0.25em #dd44ff,
        0 0 0.1em #dd44ff, 0 3px 1.5px #000;
      width: 16rem;
      cursor: pointer;
    }

    &-artists {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 7.5rem;
    }
    &-year {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include desktop {
        width: 4rem;
      }
    }
    &-time {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-button {
      border: none;
      background: none;
      cursor: pointer;
      margin-left: 2rem;
      margin-right: 0.5rem;
      width: 1.5rem;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      &--add {
        background-image: url("../../assets/icons/add-to-list/add.png");
      }
      &--remove {
        background-image: url("../../assets/icons/add-to-list/remove.png");
      }

      @include desktop {
        background-position: top;
      }
    }
  }
}
