@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@import url(//fonts.googleapis.com/css?family=Bebas+Neue);

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;

  @include desktop {
    height: 5rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__user {
    width: 160px;
  }

  &__title {
    display: inline;
    font: 400 5vh "Vibur";
    color: $karaoke-text;
    text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em #dd44ff, 0 0 0.25em #dd44ff,
      0 0 0.1em #dd44ff, 0 3px 1.5px #000;
    justify-self: center;
    cursor: pointer;
    @include desktop {
      padding-bottom: none;
    }

    &--1 {
      font: 400 5vh "Vibur";
      animation: blink linear infinite 7s;
    }
    &--2 {
      font: 400 5vh "Vibur";
      animation: blink linear infinite 6s;
    }
    &--3 {
      font: 400 5vh "Vibur";
      animation: blink linear infinite 5s;
    }
  }

  &__nav {
    @include desktop {
      position: absolute;
      right: 1rem;
    }
  }

  &__link {
    color: $karaoke-text;
    font: 400 20px "Bebas Neue";
    cursor: pointer;
    &--active {
      text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em $karaoke-purple,
        0 0 0.25em $karaoke-purple, 0 0 0.1em $karaoke-purple, 0 3px 1.5px #000;
    }

    &:hover {
      text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em $karaoke-purple,
        0 0 0.25em $karaoke-purple, 0 0 0.1em $karaoke-purple, 0 3px 1.5px #000;
    }
  }
}
