@import url(//fonts.googleapis.com/css?family=Bebas+Neue);

.footer {
  font: 400 14px "Bebas Neue";
  color: $karaoke-text;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
