@import url(//fonts.googleapis.com/css?family=Bebas+Neue);

.footer {
  font: 400 20px "Bebas Neue";
  color: #fee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
