.filters {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__search {
    width: 10rem;
    color: black;
  }

  &__dropdowns {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
  }

  &__selects {
    width: 100%;
    color: black;
    padding: 2px 5px;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    margin-right: 1rem;
    color: black;
    padding: 1px 2px;
  }

  &__song-count {
    margin-bottom: 1rem;
    font-size: 12px;
  }
}
