@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 12rem;
    width: 100%;
    @include desktop {
      margin: 0;
      height: 7rem;
      width: auto;
    }
  }

  &__search {
    width: 100%;
    font-size: 18px;
    padding: 1px 3px;
    color: black;
    background-color: $karaoke-text;
    border: none;
    &::placeholder {
      color: $karaoke-placeholder;
    }
    &:focus {
      box-shadow: 0 0 10px $karaoke-blue;
      outline: 0;
    }

    @include desktop {
      padding: 2px 5px;
    }
  }

  &__dropdowns {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: 6rem;
    @include desktop {
      flex-direction: row;
      width: 30rem;
      height: auto;
    }
  }

  &__label {
    font-size: 20px;
    display: flex;
    &-text {
      width: 3.25rem;
      margin-top: 1.5px;
      @include desktop {
        width: auto;
      }
    }
  }

  &__selects {
    margin-left: 0.5rem;
    color: black;
    padding: 2px 5px;
    flex: 1;
    &::placeholder {
      color: $karaoke-placeholder;
    }
    &--placeholder {
      color: $karaoke-placeholder;
    }

    @include desktop {
      width: 6rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 11.5rem;
  }

  &__button {
    line-height: 20px;
    background: none;
    text-shadow: 0 -40px 100px, 0 0 1px, 0 0 1em $karaoke-blue,
      0 0 0.25em $karaoke-blue, 0 0 0.1em $karaoke-blue, 0 3px 1.5px #000;
    border: none;
    color: $karaoke-text;
    font-size: 18px;
    padding: 3.5px 5px 2px 5px;
    border-radius: 4px;
  }

  &__song-count {
    font-size: 20px;

    @include desktop {
      margin-top: 2rem;
    }
  }
}
