@use "../src/styles/partials/colors" as *;
@use "../src/styles/partials/global" as *;
@use "../src/styles/partials/mixins" as *;
@use "../src/styles/partials/variables" as *;

.app {
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../src/assets/bg.png");
  background-size: 200px 200px;
  background-repeat: repeat;
  background-position: center;
  min-height: 100vh;
  @include desktop {
    background-image: url("../src/assets/hero.jpg");
    filter: none;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }

  &--landing {
    background-image: url("../src/assets/bg.png");
    background-size: 750px 597px;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }

  &__page {
    display: flex;
    flex-direction: column;
    flex: 1;

    @include desktop {
      margin: 0 10%;
    }
  }

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(1, 1, 1, 0.7);

    @include desktop {
      position: relative;
      background-color: transparent;
    }
  }

  &__content {
    display: flex;
    flex: 1;
    padding: 0 10%;
    @include desktop {
      padding: 0;
    }
  }
  &__footer {
    width: 100%;
  }
}
