@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.daily {
  display: flex;
  margin: 2% 5%;
  flex-grow: 0;

  &__link {
    display: inline-block;
    box-shadow: 0 0 30px rgba(255, 238, 238, 0.294);
    border-radius: 10px;
  }

  &__thumbnail {
    border-radius: 10px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }
  &__song {
    margin-bottom: 0.2rem;
  }
  &__artist {
    margin-bottom: 1rem;
  }
  &__reacts {
    display: flex;
    justify-content: flex-start;
  }

  &__react {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #666666b0;
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
    margin-top: 1rem;
    margin-right: 1rem;

    &--voted {
      background: #e883ffb0;
    }
  }

  &__emoji {
    font-size: 20px;
    margin-right: 0.5rem;
  }
  &__score {
    font-size: 16px;
  }
}
